@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="ui grid">
    <div class="four wide column">
        <a href="#" class="process-card-link">
            <div class="ui card">
                <div class="content">
                    <div class="header">Submission Request</div>
                </div>
                <div class="content">
                    <div class="summary">
                        <p>Policy Submission</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                        <i class="like icon"></i>
                        Edit
                    </span>
                    <span class="right floated star">
                        <i class="star icon"></i>
                        Favorite
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="four wide computer six wide mobile column">
        <a href="#" class="process-card-link">
            <div class="ui card">
                <div class="content">
                    <div class="header">Claim Request</div>
                </div>
                <div class="content">
                    <div class="summary">
                        <p>Claim Submission Application</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                        <i class="like icon"></i>
                        Edit
                    </span>
                    <span class="right floated star">
                        <i class="star icon"></i>
                        Favorite
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="four wide column">
        <a href="#" class="process-card-link">
            <div class="ui card">
                <div class="content">
                    <div class="header">Payment Receipt</div>
                </div>
                <div class="content">
                    <div class="summary">
                        <p>Payment Receipt app</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                        <i class="like icon"></i>
                        Edit
                    </span>
                    <span class="right floated star">
                        <i class="star icon"></i>
                        Favorite
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>