@model IEnumerable<Fu.Module.Core.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui basic segment">
    <h2 class="ui left floated header">
        <i class="users icon"></i>
        <div class="content">
            Roles
            <div class="sub header">Manage your Roles</div>
        </div>
    </h2>

    <div class="ui right floated main menu">
        <a asp-action="Create" class="popup item" data-content="Add Role"><i class="spy icon"></i></a>
    </div>
</div>
@Html.Partial("Partials/_Table", Model)
