@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<p>
    For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

    <div class="ui segment">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="ui form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="field">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="ui buttons">
                        <button type="submit" class="ui positive button btn btn-default">Submit</button>
                        <div class="or"></div>
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="ui button">Login</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
